.auto {
  margin: 0 auto !important;
}

/* ============================== 
	MAX CONTAINER 
================================= */
.mcon-480 {
  max-width: 480px;
  margin: 0 auto;
}
.mcon-640 {
  max-width: 640px;
  margin: 0 auto;
}
.mcon-768 {
  max-width: 768px;
  margin: 0 auto;
}
.mcon-1080 {
  max-width: 1080px;
  margin: 0 auto;
}
.mcon-1280 {
  max-width: 1280px;
  margin: 0 auto;
}
.mcon-1440 {
  max-width: 1440px;
  margin: 0 auto;
}

/* SHOW | HIDE */

.mcon-480 {
  max-width: 480px;
  margin: 0 auto;
}
.mcon-640 {
  max-width: 640px;
  margin: 0 auto;
}
.mcon-768 {
  max-width: 768px;
  margin: 0 auto;
}
.mcon-1080 {
  max-width: 1080px;
  margin: 0 auto;
}
.mcon-1280 {
  max-width: 1280px;
  margin: 0 auto;
}
.mcon-1440 {
  max-width: 1440px;
  margin: 0 auto;
}

/* ============================== 
	FLOATS 
================================= */
.float-l {
  float: left !important;
}
.float-c {
  position: fixed;
  top: 50%;
  left: 50%;
  // margin-top: -100px;
  // margin-left: -100px;
}
.float-r {
  float: right !important;
}

/* ============================== 
	TEXT ALIGN 
================================= */

.align-l {
  text-align: left !important;
}
.align-c {
  text-align: center !important;
}
.align-r {
  text-align: right !important;
}

/* ==============================
    FLEXBOX  
================================ */

.flex {
  display: flex !important;
}

/* ===== Flex Direction ===== */

.flex-fdr {
  flex-direction: row !important;
}
.flex-fdrr {
  flex-direction: row-reverse !important;
}
.flex-fdc {
  flex-direction: column !important;
}
.flex-fdcr {
  flex-direction: column-reverse !important;
}

/* ===== Flex Wrap ===== */

.flex-wrap {
  flex-wrap: wrap !important;
}
.flex-nowrap {
  flex-wrap: nowrap !important;
}

/* ===== Justify Content ===== */
.flex-jcfs {
  justify-content: flex-start !important;
}
.flex-jcfe {
  justify-content: flex-end !important;
}
.flex-jcc {
  justify-content: center !important;
}
.flex-jcsb {
  justify-content: space-between !important;
}
.flex-jcsa {
  justify-content: space-around !important;
}
.flex-jcse {
  justify-content: space-evenly !important;
}

/* ===== Align Items ===== */
.flex-aifs {
  align-items: flex-start !important;
}
.flex-aife {
  align-items: flex-end !important;
}
.flex-aic {
  align-items: center !important;
}
.flex-aist {
  align-items: stretch !important;
}
.flex-aib {
  align-items: baseline !important;
}

/* ===== Align Content ===== */
.flex-acfs {
  align-content: flex-start !important;
}
.flex-acfe {
  align-content: flex-end !important;
}
.flex-acc {
  align-content: center !important;
}
.flex-acst {
  align-content: stretch !important;
}
.flex-acsb {
  align-content: space-between !important;
}
.flex-acsa {
  align-content: space-around !important;
}

/* ===== Align Self ===== */

.flex-assr {
  align-self: stretch;
}
.flex-asc {
  align-self: center;
}
.flex-ass {
  align-self: start;
}
.flex-ase {
  align-self: end;
}
/* ============================== 
	GRID LAYOUT 
================================= */

/* ===== Justify Items ===== */
.grid-jist {
  justify-items: start !important;
}
.grid-jie {
  justify-items: end !important;
}
.grid-jic {
  justify-items: center !important;
}
.grid-jistr {
  justify-items: stretch !important;
}

/* ===== Align Items ===== */
.grid-aist {
  align-items: start !important;
}
.grid-aie {
  align-items: end !important;
}
.grid-aic {
  align-items: center !important;
}
.grid-aistr {
  align-items: stretch !important;
}

/* ============================== 
	Z-INDEX
================================= */

.zdex-auto {
  z-index: auto !important;
}
.zdex-inherit {
  z-index: inherit !important;
}
.zdex-initial {
  z-index: initial !important;
}
.zdex-unset {
  z-index: unset !important;
}

.zdex-n1 {
  z-index: -1 !important;
}
.zdex-0 {
  z-index: 0 !important;
}
.zdex-1 {
  z-index: 1 !important;
}
.zdex-2 {
  z-index: 2 !important;
}
.zdex-3 {
  z-index: 3 !important;
}
.zdex-4 {
  z-index: 4 !important;
}
.zdex-5 {
  z-index: 5 !important;
}
.zdex-6 {
  z-index: 6 !important;
}
.zdex-7 {
  z-index: 7 !important;
}
.zdex-8 {
  z-index: 8 !important;
}
.zdex-9 {
  z-index: 9 !important;
}
.zdex-10 {
  z-index: 10 !important;
}
.zdex-11 {
  z-index: 11 !important;
}
.zdex-12 {
  z-index: 12 !important;
}
.zdex-13 {
  z-index: 13 !important;
}
.zdex-14 {
  z-index: 14 !important;
}
.zdex-15 {
  z-index: 15 !important;
}
.zdex-16 {
  z-index: 16 !important;
}
.zdex-17 {
  z-index: 17 !important;
}
.zdex-18 {
  z-index: 18 !important;
}
.zdex-19 {
  z-index: 19 !important;
}
.zdex-20 {
  z-index: 20 !important;
}
.zdex-21 {
  z-index: 21 !important;
}
.zdex-22 {
  z-index: 22 !important;
}
.zdex-23 {
  z-index: 23 !important;
}
.zdex-24 {
  z-index: 24 !important;
}
.zdex-25 {
  z-index: 25 !important;
}
.zdex-26 {
  z-index: 26 !important;
}
.zdex-27 {
  z-index: 27 !important;
}
.zdex-28 {
  z-index: 28 !important;
}
.zdex-29 {
  z-index: 29 !important;
}
.zdex-30 {
  z-index: 30 !important;
}
.zdex-31 {
  z-index: 31 !important;
}
.zdex-32 {
  z-index: 32 !important;
}
.zdex-33 {
  z-index: 33 !important;
}
.zdex-34 {
  z-index: 34 !important;
}
.zdex-35 {
  z-index: 35 !important;
}
.zdex-36 {
  z-index: 36 !important;
}
.zdex-37 {
  z-index: 37 !important;
}
.zdex-38 {
  z-index: 38 !important;
}
.zdex-39 {
  z-index: 39 !important;
}
.zdex-40 {
  z-index: 40 !important;
}
