.underline {
  text-decoration: underline !important;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* ============================== 
	BORDER 
================================= */
/* ====== Border ====== */

.bn {
  border: none;
}

/* ====== Border Radius ====== */
.bdrd-0 {
  border-radius: 0px !important;
}
.bdrd-1 {
  border-radius: 1px !important;
}
.bdrd-2 {
  border-radius: 2px !important;
}
.bdrd-3 {
  border-radius: 3px !important;
}
.bdrd-4 {
  border-radius: 4px !important;
}
.bdrd-5 {
  border-radius: 5px !important;
}
.bdrd-6 {
  border-radius: 6px !important;
}
.bdrd-7 {
  border-radius: 7px !important;
}
.bdrd-8 {
  border-radius: 8px !important;
}
.bdrd-9 {
  border-radius: 9px !important;
}
.bdrd-10 {
  border-radius: 10px !important;
}
.bdrd-11 {
  border-radius: 11px !important;
}
.bdrd-12 {
  border-radius: 12px !important;
}
.bdrd-13 {
  border-radius: 13px !important;
}
.bdrd-14 {
  border-radius: 14px !important;
}
.bdrd-15 {
  border-radius: 15px !important;
}
.bdrd-16 {
  border-radius: 16px !important;
}
.bdrd-17 {
  border-radius: 17px !important;
}
.bdrd-18 {
  border-radius: 18px !important;
}
.bdrd-19 {
  border-radius: 19px !important;
}
.bdrd-20 {
  border-radius: 20px !important;
}
.bdrd-21 {
  border-radius: 21px !important;
}
.bdrd-22 {
  border-radius: 22px !important;
}
.bdrd-23 {
  border-radius: 23px !important;
}
.bdrd-24 {
  border-radius: 24px !important;
}
.bdrd-25 {
  border-radius: 25px !important;
}

/* ============================== 
	CURSORS 
================================= */

.alias {
  cursor: alias !important;
}
.all-scroll {
  cursor: all-scroll !important;
}
.auto {
  cursor: auto !important;
}
.cell {
  cursor: cell !important;
}
.context-menu {
  cursor: context-menu !important;
}
.col-resize {
  cursor: col-resize !important;
}
.copy {
  cursor: copy !important;
}
.crosshair {
  cursor: crosshair !important;
}
.default {
  cursor: default !important;
}
.e-resize {
  cursor: e-resize !important;
}
.ew-resize {
  cursor: ew-resize !important;
}
.grab {
  cursor: grab !important;
}
.grabbing {
  cursor: grabbing !important;
}
.help {
  cursor: help !important;
}
.move {
  cursor: move !important;
}
.n-resize {
  cursor: n-resize !important;
}
.ne-resize {
  cursor: ne-resize !important;
}
.nesw-resize {
  cursor: nesw-resize !important;
}
.ns-resize {
  cursor: ns-resize !important;
}
.nw-resize {
  cursor: nw-resize !important;
}
.nwse-resize {
  cursor: nwse-resize !important;
}
.no-drop {
  cursor: no-drop !important;
}
.none {
  cursor: none !important;
}
.not-allowed {
  cursor: not-allowed !important;
}
.pointer {
  cursor: pointer !important;
}
.progress {
  cursor: progress !important;
}
.row-resize {
  cursor: row-resize !important;
}
.s-resize {
  cursor: s-resize !important;
}
.se-resize {
  cursor: se-resize !important;
}
.sw-resize {
  cursor: sw-resize !important;
}
.text {
  cursor: text !important;
}
// .url {
// 	cursor: url(myBall.cur), auto !important;
// }
.w-resize {
  cursor: w-resize !important;
}
.wait {
  cursor: wait !important;
}
.zoom-in {
  cursor: zoom-in !important;
}
.zoom-out {
  cursor: zoom-out !important;
}

/* ============================== 
	BACKGROUNDS 
================================= */

// background-repeat: no-repeat;
// background-size: 100%;
// background-size: cover;
