/* ////////////////// MOBILE MENU OPEN ////////////////// */
.mobile-menu {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  background-color: #bebebe;
}

/* ////////////////// MOBILE MENU CLOSE ////////////////// */
.mobile-menu-close {
  display: inline-block;
  cursor: pointer;
  margin-top: 8px;
  margin-left: 13px;
}

.bar1-x,
.bar2-x,
.bar3-x {
  width: 35px;
  height: 5px;
  background-color: #000000;
  margin: 6px 0;
  transition: 0.4s;
}

.bar1-x {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.bar2-x {
  opacity: 0;
}
.bar3-x {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* Bar Rotation */
.change-x .bar1 {
  -webkit-transform: rotate(0deg) translate(-9px, 6px);
  transform: rotate(0deg) translate(-9px, 6px);
}
.change-x .bar2 {
  opacity: 0;
}
.change-x .bar3 {
  -webkit-transform: rotate(0deg) translate(-8px, -8px);
  transform: rotate(0deg) translate(-8px, -8px);
}
